.tab {
  display: none;

  &__content {
    height: 50vh;
    width: 100%;
    background-color: rgb(225, 225, 225);
    border-radius: 10px;
  }
}

.current-tab {
  display: block;

  .chat{
    &__bot{
      background-color: rgb(99, 98, 98);

    }
    &__user {
      background-color: rgb(209, 207, 207);
    }
  }

  .warning{
    color:red;
  }
}

.api-key-form {
  margin: 10px;
  border: 2px solid gray;
  padding: 5px;
  border-radius: 10px;
}

button {
  &.active {
    color: red;
  }
}

h1 {
  text-align: center;
}